In [1]:
import pandas as pd
import numpy as np

In [6]:
president_county = pd.read_csv('president_county.csv')
president_county

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86
...,...,...,...,...,...
4628,Arizona,Graham County,14995,14995,99
4629,Arizona,Greenlee County,3685,3685,99
4630,Arizona,La Paz County,7458,7458,99
4631,Arizona,Maricopa County,2068144,2068144,99
4632,Arizona,Mohave County,104668,104668,99

In [7]:
president_county_candidate = pd.read_csv('president_county_candidate.csv')
president_county_candidate

          state             county      candidate party  total_votes    won
0      Delaware        Kent County      Joe Biden   DEM        44552   True
1      Delaware        Kent County   Donald Trump   REP        41009  False
2      Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3      Delaware        Kent County  Howie Hawkins   GRN          420  False
4      Delaware  New Castle County      Joe Biden   DEM       195034   True
...         ...                ...            ...   ...          ...    ...
31402   Arizona    Maricopa County   Donald Trump   REP       995665  False
31403   Arizona    Maricopa County   Jo Jorgensen   LIB        31705  False
31404   Arizona      Mohave County   Donald Trump   REP        78535   True
31405   Arizona      Mohave County      Joe Biden   DEM        24831  False
31406   Arizona      Mohave County   Jo Jorgensen   LIB         1302  False

[31407 rows x 6 columns]

In [9]:
president_state = pd.read_csv('president_state.csv')
president_state

                   state  total_votes
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067456
3                Georgia      4998566
4                 Hawaii       574469
5                  Idaho       868105
6               Illinois      6002747
7                Indiana      3035088
8                   Iowa      1688310
9                 Kansas      1334330
10              Kentucky      2136768
11             Louisiana      2148062
12                 Maine       786952
13              Maryland      3000570
14         Massachusetts      3549597
15              Michigan      5544102
16             Minnesota      3268708
17           Mississippi      1315240
18              Missouri      3028133
19               Montana       605750
20              Nebraska       951390
21                Nevada      1405376
22         New Hampshire       804430
23            New Jersey      4551202
24            New Mexico       923756
25              New York      7073212
26        North Carolina      5524813
27          North Dakota       361819
28                  Ohio      5925806
29              Oklahoma      1560699
30                Oregon      2385441
31          Pennsylvania      6915265
32          Rhode Island       513602
33        South Carolina      2513329
34          South Dakota       422609
35             Tennessee      3049514
36                 Texas     11323963
37                  Utah      1487696
38               Vermont       367428
39              Virginia      4456310
40            Washington      4052544
41         West Virginia       794204
42             Wisconsin      3297434
43               Wyoming       276765
44               Alabama      2309900
45                Alaska       356796
46              Arkansas      1217613
47            California     17322626
48              Colorado      3256108
49           Connecticut      1824826
50         United States    156402966
51               Arizona      3385845

In [11]:
senate_county = pd.read_csv('senate_county.csv')
senate_county

         state             county  current_votes  total_votes  percent
0     Delaware        Kent County          84975        87025      100
1     Delaware  New Castle County         279462       287633      100
2     Delaware      Sussex County         126498       129352      100
3      Georgia     Appling County           8187         8341      100
4      Georgia    Atkinson County           3097         3155      100
...        ...                ...            ...          ...      ...
3577   Georgia   Whitfield County          35593        36746      100
3578   Georgia      Wilcox County           3218         3281      100
3579   Georgia      Wilkes County           4906         5029      100
3580   Georgia   Wilkinson County           4689         4770      100
3581   Georgia       Worth County           9130         9286      100

[3582 rows x 5 columns]

In [12]:
senate_county_candidate = pd.read_csv('senate_county_candidate.csv')
senate_county_candidate

          state             county         candidate party  total_votes
0      Delaware        Kent County     Lauren Witzke   REP        38571
1      Delaware        Kent County       Mark Turley   IPD         1553
2      Delaware        Kent County      Nadine Frost   LIB          958
3      Delaware  New Castle County     Lauren Witzke   REP        80081
4      Delaware  New Castle County       Mark Turley   IPD         4277
...         ...                ...               ...   ...          ...
13878   Georgia       Worth County     Allen Buckley   IND           27
13879   Georgia       Worth County         Ed Tarver   DEM           17
13880   Georgia       Worth County      John Fortuin   GRN           15
13881   Georgia       Worth County  Valencia Stovall   IND           15
13882   Georgia       Worth County    Michael Greene   IND           14

[13883 rows x 5 columns]

In [13]:
senate_state = pd.read_csv('senate_state.csv')
senate_state

             state  total_votes
0         Delaware       490935
1          Georgia      4952440
2            Idaho       858826
3         Illinois      5860394
4             Iowa      1670616
5           Kansas      1330054
6         Kentucky      2134725
7        Louisiana      2071543
8            Maine       762452
9    Massachusetts      3408750
10        Michigan      5477429
11       Minnesota      3216341
12     Mississippi      1309889
13         Montana       605637
14        Nebraska       896590
15   New Hampshire       795603
16      New Jersey      4428137
17      New Mexico       917002
18  North Carolina      5474961
19        Oklahoma      1556361
20          Oregon      2334057
21    Rhode Island       492178
22  South Carolina      2512810
23    South Dakota       420219
24       Tennessee      2941711
25           Texas     11148820
26        Virginia      4380176
27   West Virginia       778447
28         Wyoming       270866
29         Alabama      2303212
30          Alaska       353297
31         Arizona      3354722
32        Arkansas      1191839
33        Colorado      3234852
34         Georgia      4914534

In [ ]:
president_county_candidate