In [1]:
import pandas as pd
import numpy as np

In [2]:
president_county = pd.read_csv('president_county.csv')
president_county

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86
...,...,...,...,...,...
4628,Arizona,Graham County,14995,14995,99
4629,Arizona,Greenlee County,3685,3685,99
4630,Arizona,La Paz County,7458,7458,99
4631,Arizona,Maricopa County,2068144,2068144,99
4632,Arizona,Mohave County,104668,104668,99

In [3]:
president_county_candidate = pd.read_csv('president_county_candidate.csv')
president_county_candidate

          state             county      candidate party  total_votes    won
0      Delaware        Kent County      Joe Biden   DEM        44552   True
1      Delaware        Kent County   Donald Trump   REP        41009  False
2      Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3      Delaware        Kent County  Howie Hawkins   GRN          420  False
4      Delaware  New Castle County      Joe Biden   DEM       195034   True
...         ...                ...            ...   ...          ...    ...
31402   Arizona    Maricopa County   Donald Trump   REP       995665  False
31403   Arizona    Maricopa County   Jo Jorgensen   LIB        31705  False
31404   Arizona      Mohave County   Donald Trump   REP        78535   True
31405   Arizona      Mohave County      Joe Biden   DEM        24831  False
31406   Arizona      Mohave County   Jo Jorgensen   LIB         1302  False

[31407 rows x 6 columns]

In [4]:
president_state = pd.read_csv('president_state.csv')
president_state

                   state  total_votes
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067456
3                Georgia      4998566
4                 Hawaii       574469
5                  Idaho       868105
6               Illinois      6002747
7                Indiana      3035088
8                   Iowa      1688310
9                 Kansas      1334330
10              Kentucky      2136768
11             Louisiana      2148062
12                 Maine       786952
13              Maryland      3000570
14         Massachusetts      3549597
15              Michigan      5544102
16             Minnesota      3268708
17           Mississippi      1315240
18              Missouri      3028133
19               Montana       605750
20              Nebraska       951390
21                Nevada      1405376
22         New Hampshire       804430
23            New Jersey      4551202
24            New Mexico       923756
25              New York      7073212
26        North Carolina      5524813
27          North Dakota       361819
28                  Ohio      5925806
29              Oklahoma      1560699
30                Oregon      2385441
31          Pennsylvania      6915265
32          Rhode Island       513602
33        South Carolina      2513329
34          South Dakota       422609
35             Tennessee      3049514
36                 Texas     11323963
37                  Utah      1487696
38               Vermont       367428
39              Virginia      4456310
40            Washington      4052544
41         West Virginia       794204
42             Wisconsin      3297434
43               Wyoming       276765
44               Alabama      2309900
45                Alaska       356796
46              Arkansas      1217613
47            California     17322626
48              Colorado      3256108
49           Connecticut      1824826
50         United States    156402966
51               Arizona      3385845

In [5]:
governors_county = pd.read_csv('governors_county.csv')
governors_county

              state             county  current_votes  total_votes  percent
0          Delaware        Kent County          85415        87025      100
1          Delaware  New Castle County         280039       287633      100
2          Delaware      Sussex County         127181       129352      100
3           Indiana       Adams County          14154        14238       99
4           Indiana       Allen County         168312       164793       95
...             ...                ...            ...          ...      ...
1020  West Virginia     Webster County           3339         3276       95
1021  West Virginia      Wetzel County           6553         6892       95
1022  West Virginia        Wirt County           2544         2664       95
1023  West Virginia        Wood County          38077        38487       99
1024  West Virginia     Wyoming County           8320         8614       95

[1025 rows x 5 columns]

In [6]:
governors_county_candidate = pd.read_csv('governors_county_candidate.csv')
governors_county_candidate

              state             county        candidate party   votes    won
0          Delaware        Kent County      John Carney   DEM   44352   True
1          Delaware        Kent County  Julianne Murray   REP   39332  False
2          Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3          Delaware        Kent County    John Machurek   LIB     616  False
4          Delaware  New Castle County      John Carney   DEM  191678   True
...             ...                ...              ...   ...     ...    ...
5068  West Virginia        Wood County       Danny Lutz   MNP     377  False
5069  West Virginia     Wyoming County      Jim Justice   REP    6941   True
5070  West Virginia     Wyoming County      Ben Salango   DEM    1240  False
5071  West Virginia     Wyoming County   Erika Kolenich   LIB      86  False
5072  West Virginia     Wyoming County       Danny Lutz   MNP      53  False

[5073 rows x 6 columns]

In [7]:
governors_state = pd.read_csv('governors_state.csv')
governors_state

             state    votes
0         Delaware   492635
1          Indiana  3020514
2         Missouri  3010911
3          Montana   603587
4    New Hampshire   792804
5   North Carolina  5502788
6     North Dakota   340121
7             Utah  1441485
8          Vermont   362711
9       Washington  4035888
10   West Virginia   776188

In [8]:
president_county = pd.read_csv('president_county.csv')
president_county

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86
...,...,...,...,...,...
4628,Arizona,Graham County,14995,14995,99
4629,Arizona,Greenlee County,3685,3685,99
4630,Arizona,La Paz County,7458,7458,99
4631,Arizona,Maricopa County,2068144,2068144,99
4632,Arizona,Mohave County,104668,104668,99

In [9]:
president_county_candidate = pd.read_csv('president_county_candidate.csv')
president_county_candidate

          state             county      candidate party  total_votes    won
0      Delaware        Kent County      Joe Biden   DEM        44552   True
1      Delaware        Kent County   Donald Trump   REP        41009  False
2      Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3      Delaware        Kent County  Howie Hawkins   GRN          420  False
4      Delaware  New Castle County      Joe Biden   DEM       195034   True
...         ...                ...            ...   ...          ...    ...
31402   Arizona    Maricopa County   Donald Trump   REP       995665  False
31403   Arizona    Maricopa County   Jo Jorgensen   LIB        31705  False
31404   Arizona      Mohave County   Donald Trump   REP        78535   True
31405   Arizona      Mohave County      Joe Biden   DEM        24831  False
31406   Arizona      Mohave County   Jo Jorgensen   LIB         1302  False

[31407 rows x 6 columns]

In [10]:
president_county_candidate = pd.read_csv('president_state.csv')
president_county_candidate

                   state  total_votes
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067456
3                Georgia      4998566
4                 Hawaii       574469
5                  Idaho       868105
6               Illinois      6002747
7                Indiana      3035088
8                   Iowa      1688310
9                 Kansas      1334330
10              Kentucky      2136768
11             Louisiana      2148062
12                 Maine       786952
13              Maryland      3000570
14         Massachusetts      3549597
15              Michigan      5544102
16             Minnesota      3268708
17           Mississippi      1315240
18              Missouri      3028133
19               Montana       605750
20              Nebraska       951390
21                Nevada      1405376
22         New Hampshire       804430
23            New Jersey      4551202
24            New Mexico       923756
25              New York      7073212
26        North Carolina      5524813
27          North Dakota       361819
28                  Ohio      5925806
29              Oklahoma      1560699
30                Oregon      2385441
31          Pennsylvania      6915265
32          Rhode Island       513602
33        South Carolina      2513329
34          South Dakota       422609
35             Tennessee      3049514
36                 Texas     11323963
37                  Utah      1487696
38               Vermont       367428
39              Virginia      4456310
40            Washington      4052544
41         West Virginia       794204
42             Wisconsin      3297434
43               Wyoming       276765
44               Alabama      2309900
45                Alaska       356796
46              Arkansas      1217613
47            California     17322626
48              Colorado      3256108
49           Connecticut      1824826
50         United States    156402966
51               Arizona      3385845

In [11]:
president_county_candidate

                   state  total_votes
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067456
3                Georgia      4998566
4                 Hawaii       574469
5                  Idaho       868105
6               Illinois      6002747
7                Indiana      3035088
8                   Iowa      1688310
9                 Kansas      1334330
10              Kentucky      2136768
11             Louisiana      2148062
12                 Maine       786952
13              Maryland      3000570
14         Massachusetts      3549597
15              Michigan      5544102
16             Minnesota      3268708
17           Mississippi      1315240
18              Missouri      3028133
19               Montana       605750
20              Nebraska       951390
21                Nevada      1405376
22         New Hampshire       804430
23            New Jersey      4551202
24            New Mexico       923756
25              New York      7073212
26        North Carolina      5524813
27          North Dakota       361819
28                  Ohio      5925806
29              Oklahoma      1560699
30                Oregon      2385441
31          Pennsylvania      6915265
32          Rhode Island       513602
33        South Carolina      2513329
34          South Dakota       422609
35             Tennessee      3049514
36                 Texas     11323963
37                  Utah      1487696
38               Vermont       367428
39              Virginia      4456310
40            Washington      4052544
41         West Virginia       794204
42             Wisconsin      3297434
43               Wyoming       276765
44               Alabama      2309900
45                Alaska       356796
46              Arkansas      1217613
47            California     17322626
48              Colorado      3256108
49           Connecticut      1824826
50         United States    156402966
51               Arizona      3385845

In [13]:
house_state = pd.read_csv('house_state.csv')
house_state

                         district  current_votes  total_votes  percent
0               Delaware at large         488270       488270      100
1          Florida’s 1st district         438562       438562      100
2          Florida’s 2nd district         311999       311999      100
3          Florida’s 3rd district         390401       390401      100
4          Florida’s 4th district         504940       504940      100
..                            ...            ...          ...      ...
431    Connecticut’s 5th district         349598       362000       97
432  United States’s 0th district      149939779    155752925       96
433    California’s 21st district         165510       154000      100
434    California’s 25th district         337720       315000      100
435    California’s 39th district         342918       314000      100

[436 rows x 4 columns]

In [14]:
house_candidate = pd.read_csv('house_candidate.csv')
house_candidate

,district,candidate,party,total_votes,won
0,Delaware at large,Lisa Blunt Rochester,DEM,281382,True
1,Delaware at large,Lee Murphy,REP,196392,False
2,Delaware at large,Catherine Purcell,IND,6682,False
3,Delaware at large,David Rogers,LIB,3814,False
4,Florida’s 1st district,Matt Gaetz,REP,283352,True
...,...,...,...,...,...
1181,California’s 21st district,TJ Cox,DEM,81946,False
1182,California’s 25th district,Mike Garcia,REP,169060,True
1183,California’s 25th district,Christy Smith,DEM,168660,False
1184,California’s 39th district,Young Kim,REP,173558,True
1185,California’s 39th district,Gil Cisneros,DEM,169360,False